.divvy-boi {
    display: flex;
}

.divvy-lad {
    display: flex;
    flex-direction: column;
}

#select-button {
    height: 25px;
    width: 60px;
}

table {
    font: 14px sans-serif;
}

thead {
    background-color: #FFDC00;
}

th {
    font-weight: normal;
    text-align: center;
    padding-right: 6px;
    min-width: 50px;
}

#champion {
    min-width: 110px;
}

td:first-of-type{
    text-align: left;
    background-color: #00bfff70;
}

td {
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#line-axis-labels {
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    fill: black;
}


.tooltip {
    opacity: 80%;
    stroke-width: 5px;
    fill: black;
}

.tooltiptext {
    fill: white;
}